# Frontend API endpoint (development - uses proxy)
VITE_API_URL=/api

# Backend API target (used by Vite proxy)
VITE_API_TARGET=http://localhost:8001

# Usa proxy para /api? true = sí, false = no
VITE_USE_PROXY=true
